*{
    margin:0;
    padding:0;
}
.main-container{
    background-color:gray;
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding:20px;
    color:white;
}
.logo-photo{
    width:120px;
}
.list{
    display:flex;
    list-style:none;
    justify-content:space-around;
}
.item{
    margin-right:10px;
    padding:5px;
    cursor:pointer;
    font-size:18px;
}
.item:hover{
    color:blueviolet;
}
.photo{
    width:300px;
}
.banner-container{
    width:100%;
    border:1px solid;
    display:flex;
    align-items:center;
    justify-content: space-around;
    height:500px;
    background-image:url(IMG/background.png);
    background-color:black;
}
.banner-text{
    color:white;
    
}
.title{
    padding:10px;
    font-size:30px;
}
.description{
    padding:10px;
    font-size:15px;
}
.btn{
    padding:10PX;
    background-color: red;
    color:white;
    margin-left:5px;
    cursor:pointer;
}
